.contact-us-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  padding: 1rem 0rem;
}

.contact-alignment {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: var(--font-family);
  background: #111;
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  min-width: 130px;
  cursor: pointer;
}
.pl-2 {
  padding: 1.7rem !important;
}

.contact-container1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45%;
  height: 40%;
  min-width: 300px;
  flex-wrap: wrap;
  padding: 0.5rem 0rem;
  text-wrap: wrap;
  /* background-color: plum; */
}
@media (max-width: 800px) {
  .contact-container1 {
    width: 100%;
  }
  .contact-height {
    height: 100% !important;
  }
}
@media (max-width: 576px) {
  .contact-container1 {
    width: 100%;
    min-width: 180px;
  }
}
.contact-alignment p {
  /* white-space: normal;
  word-wrap: break-word; */
  /* max-width: 200px;           */
  /* color: white;               */
}
@media (max-width: 430px) {
  .contact-description {
    min-width: 180px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    margin: 0 !important;
  }
}
.conatct-us-icons {
  font-size: 1rem;
}

.contact-alignment input[type="text"],
.contact-alignment input[type="text"]:focus {
  border: none !important;
  outline: none !important;
  background: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  color: white !important;
  box-shadow: none !important;
}

.contact-alignment textarea,
.contact-alignment textarea:focus {
  border: none !important;
  outline: none !important;
  background: transparent !important;
  color: white !important;
  width: 100%;
  height: 180px !important;
}

.contact-alignment input::placeholder,
.contact-alignment textarea::placeholder {
  color: white !important;
  opacity: 1;
}

.input-input {
  outline: none !important;
  border: none !important;
  background: transparent !important;
  color: white !important;
  padding: 1rem !important;
}

/* .input-input:focus{
    outline: none !important;
    border: none !important;
    background: transparent !important;
    color: white !important;
    padding: 1rem !important;
} */

.send-me-text {
  color: #7ec699;
}
.contact-us-text {
  color: #f08d49;
}

.send-message-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #43a047;
  /* #fb00ff */
  color: #fff;
  font-weight: 600;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  /* border: 2px solid #ff7900; */
}
.send-icon {
  margin-left: 10px;
  font-size: 1.3rem !important;
}
.send-message-btn:hover {
  background: #ff7900;
}

.contact-height {
  height: 435px;
  /* background-color: plum; */
}

.all-pages-container {
  display: flex;
  flex-direction: column;
  /* padding: 1.5rem 2rem; */
  padding: 2rem 3rem;
  width: 100%;
  gap: 2.5rem;
  /* max-width: 1100px; */
  margin: 0 auto;
}

.row-parent-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.col-parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  padding: 2rem;
}

.common-container {
  width: 100%;
  background: #2d2d2d;
  color: #fff;
  padding: 2rem;
  border-radius: 8px;
}
