.card-container {
  display: flex;
  flex-direction: column;
  background: #1a1a2e;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: oklch(0.872 0.01 258.338) !important;
  transition: transform 0.3s;
  height: 420px;
}

.card-container:hover {
  box-shadow: 0 6px 16px rgba(139, 92, 246, 0.6);
  /* box-shadow: 0 -2px 8px rgba(139, 92, 246, 0.3); */
  border: 1px solid #8b5cf6;
  transform: translateY(-5px);
}

.image-container {
  flex-basis: 30%;
  min-width: 180px;
}
.product-img {
  /* max-width: 100%; */
  height: 250px;
  width: 200px;
}
.product-title {
  color: #fff;
  font-size: 0.9rem;
}
.product-price {
  color: #fff;
  font-size: 0.7rem;
}
.title-details-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.6rem 0rem;
}
.add-to-cart {
  background: #8b5cf6;
  padding: 0.8rem 1rem;
  border: 0;
  border-radius: 8px;
}
.fav-button {
  padding: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.fav-icon {
  font-size: 1rem;
}

.quantity-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.quantity-btn {
  padding: 0.5rem 0.9rem;
  border: none;
  border-radius: 8px;
  color: #351c75;
  background: #fce5cd;
  cursor: pointer;
}
