* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
}

.App {
  /* background: linear-gradient(135deg, #f5f7fa, #c3cfe2); */
  /* height: 100vh; */
  background: #0a0a0f;
}

.center-container {
  width: 100%;
  max-width: 95%;
  margin: auto;
  padding: 0 1rem;
}

/* card: #1a1a2e
bg : #0a0a0f */
